---
- name: Assert that we have the required variables
  ansible.builtin.assert:
    that:
      - ansible_nut_server_ip is defined
      - ansible_ups_name is defined
      - ansible_ups_driver is defined
      - ansible_ups_description is defined
      - ansible_ups_user is defined
      - ansible_ups_user_password is defined
      - ansible_nut_power_value is defined
      - ansible_nut_role is defined
    fail_msg: "One or more required variables for NUT client configuration are not defined."

- name: Assert that this is for RedHat based systems
  ansible.builtin.assert:
    that:
      - ansible_os_family | lower == "redhat"
    fail_msg: This role only supports RedHat based systems.

- name: Set Variables we need for later
  ansible.builtin.set_fact:
    nut_server_ip: "{{ ansible_nut_server_ip }}"
    ups_name: "{{ ansible_ups_name }}"
    ups_driver: "{{ ansible_ups_driver }}"
    ups_description: "{{ ansible_ups_description }}"
    ups_user: "{{ ansible_ups_user }}"
    ups_user_password: "{{ ansible_ups_user_password }}"
    nut_power_value: "{{ ansible_nut_power_value }}"
    nut_role: "{{ ansible_nut_role }}"

- name: Install NUT client package
  ansible.builtin.dnf:
    name: nut-client
    state: present
  register: nut_client

- name: Ensure /etc/ups exists
  ansible.builtin.file:
    path: /etc/ups
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Write upsmon.conf
  ansible.builtin.template:
    src: templates/upsmon.conf.j2
    dest: /etc/ups/upsmon.conf
    owner: root
    group: root
    mode: "0640"

- name: Configure the Network Server in NUT
  ansible.builtin.lineinfile:
    path: /etc/ups/nut.conf
    regexp: "^MODE=none"
    line: "MODE=netclient"
  tags: ups_conf

- name: Enable and start NUT monitor service (primary name)
  ansible.builtin.systemd_service:
    name: nut-monitor.service
    state: started
    enabled: true

- name: Restart_NUT
  ansible.builtin.systemd_service:
    name: nut-monitor.service
    state: restarted
    enabled: true
  tags: ups_restart
...
